<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      

       .box1{

       border: 1px black solid;
          text-align: center;
       width: 160px;
       height: 55px;
           margin: 50px 200px 0 700px;

       }

       .box2{
   border: 1px black solid;
          justify-items: center;
       width: 700px;
       height: 100px;
           margin: 50px 200px 0 430px;
           text-align: center;
       }

    </style>
</head>
<body>


    <div class="box1">
     <h6>
         The current time and date:
     </h6>
    </div>

    <div class="box2">

        <h1> {{ time_display  }} </h1>



    </div>



</body>
</html>